<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make an appoinments</title>
</head>
<body>
    <h1>Make an appoinments</h1>
<form metod="POST">
   {% csrf_token %}
   <label for="client_name">Name</label>
   <input type="text" name="client_name"><br>
   <label for="message">Краткое описание</label>
   <input type="text" name="message"><br>
   <label for="date">Data</label>
   <input type="date" name="date"><br>
   <input type="submit"><br>
</form>

</body>
</html>