{% extends 'default2.html' %}

{% load custom_filter %}


{% block title %}
  новости
{% endblock %}

{% block content %}
<div>
        <div class="container">
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/subscribers">подписаться</a></li>
        </div>
<div>

    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.news.news_create %}
    <a href="{% url 'news_create' %}">Добавить новость</a>
    {% endif %}

    {% if perms.news.article_create %}
    <a href="{% url 'article_create' %}">Добавить статью</a>
    {% endif %}

  <div>

    <h5> {% for p in post %} </h5>
          <p>{{ p.title }}</p>
          <p>{{ p.text|slice:":20"|censor }}</p>
          <p>{{ p.DateCreation }}</p>
          <a>{% endfor %}</a>

      {% load cache %}
      {% cache 100 pagination %}

      {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


  </div>
</div>
</div>
{% endblock content %}
{% endcache %}